<section class="container">
    <h1 class="text-center">Enter your Signature</h1>
    <div class="row">
      <div class="col-6">
        <div class="signature-pad">
          <div class="signature-pad--body">
            <canvas #sPad width="500" height="500" style="touch-action: none;"></canvas>
          </div>
        </div>
      </div>
      <div class="col-6">
        <button class="btn btn-block btn-success" (click)="savePNG()">Send</button>
          <button class="btn btn-block btn-warning" (click)="undo()">Undo</button>
          <button class="btn btn-block btn-secondary" (click)="clear()">Clear</button>
      </div>
    </div>
  </section>
  